<VirtualHost *:80>
    ServerAdmin admin@localhost
    DocumentRoot {{ wordpress_install_dir }}/wordpress

    <Directory {{ wordpress_install_dir }}/wordpress>
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
